<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>

    <main>
        <div class="p-5 mb-4 bg-light rounded-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, fugit? Consectetur perferendis libero qui, animi a temporibus ex alias molestias quasi vero, odit minus esse. Placeat inventore sunt obcaecati voluptates.</p>
        </div>     
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>